body {

    /*background:papayaWhip*/
    background: DarkSlateBlue;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    color: MistyRose; 
    line-height:1.5rem;
}
div{
   border-style: double;
   padding: 2em;
   
}

figure{
   border-style: double;
   padding: 2em;
   
}

div.side-by-side {
    display: flex;
    
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}

a {
    color: MistyRose;
}