body {

    
    background: DarkSlateBlue;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    color: MistyRose; 
    line-height:1.5rem;
}
div{
   border-style: double;
   padding: 1em;
   
}

figure{
   border-style: dotted;
   padding: 2em;
   
}

figcaption {
    font-size: large;
    padding: 1em;
}

div.side-by-side {
    display: flex;
}

img.side-by-side{
    display: flex;
    width: 50%;
}

img {
    display: flex;
    width: 100%;
    max-width: 1000px;
}


a {
    color: MistyRose;
    
}

a:hover{
    color: FloralWhite;
}

nav{
    font-size: xx-large;
    text-align: Center;
    padding: 10px;
}